<h1> Welcome to the home page <h2>


<form action="<%= users_url %>" method="GET">
  <a href="<% new_user_url %>"> go to sign up page </a>
  <a href="<% new_session_url %>"> go to sign in page </a>
</form>
